* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Poppins',
    sans-serif;


}

body {
  font-size: 1.6rem;


}
.container {
  max-width: 1520px;  
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  padding-left: 100px;

  
}
.form {
  position: relative;
  width: 50rem;
  margin: 0 auto;
  padding: 10rem 0;
  color: #fff;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 1px 1rem rgba(0, 0, 0, 1);
  isolation: isolate;
}

.form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  background: linear-gradient(to left, #8c67fc,
  #15024e);
  border-radius: 1rem 1rem 100% 100%;
  z-index: -1;
}

.form_title {
  text-transform: uppercase;
  position: absolute;
  top: 3.5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.5rem;
}
.form>form {
  padding: 2.5rem;
  background-color: inherit;
}

.form__input {
  position: relative;
  display: flex;
  align-items: baseline;
  margin: 0 auto;
}
.form__input>i {
  font-size: 2rem;
  margin-right: 1rem;
  color: #fc6767;
}
.form__input input {
  position: relative;
  width: 100%;
  font: inherit;
  padding: 1rem 0;
  margin-top: .5rem;
  border: none;
  outline: none;
}
.form__input .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgb(218 216 216);
  width: 100%;
  height: 1px;
}
#name {
  font-size: 16px;
}
#surname {
  font-size: 16px;
}
#phone {
  font-size: 16px;
}
#image {
  font-size: 16px;
}
#btn-add {
  font-size: 16px;
}

.form__input .bar::before {
  content: "";
  position: absolute;
  background-color: #815eec;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .7s;
}
.form__input>input:focus+.bar::before {
  transform: scaleX(1);
}

.form__button {
  display: block;
  margin: 2.5rem auto 3rem;
  padding: 1rem 5rem;
  background: linear-gradient(to left, #2098e2,
  #15024e);
  color: #fff;
  font: inherit;
  border: .5rem solid #fff;
  outline: none;
  cursor: pointer;
  border-radius: 3rem;
}

.form__button:hover {
  background: linear-gradient(to right,  #2098e2, #15024e);
}

.form_switch {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  color: #a1a1a1;
}

.form_switch a {
  text-decoration: none;
  color: #fc6767;
}

.form_switch a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 43.75em) {
  .form::before {
    height: 30rem;
  }

  .form_title {
    left: 10rem;
    transform: none;
  }

  .form>form {
    transform: translateX(10rem);
    border-radius: inherit;
    box-shadow: inherit;
  }
}

/* content start */

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}